/* Siiiimple Created By Daniel Bel t*/

[class*='column']
{
	float: left;
	padding: 0 20px 0 0;
}

[class*='column']:last-of-type
{
	float: left;
}

.grid
{
	width: 100%;
	margin: 0 auto;
}

	.grid:after
	{ 
		content: "";
		display: table;
		clear: both;
	}


/** Columns **/

.column-1 { width: 8.3%; }

.column-2 { width: 16.6%; }

.column-3 { width: 25%; }

.column-4 { width: 33.3%; }

.column-5 { width: 41.6%; }

.column-6 { width: 50%; }

.column-7 { width: 58.3%; }

.column-8 { width: 66.7%; }

.column-9 { width: 75%; }

.column-10 { width: 83.3%; }

.column-11 { width: 91.6%; }

.column-12 { width: 100%; }

@media screen and (max-width: 768px)
{

	[class*='column']
	{
		padding: 0;
	}
	
	.column-1,
	.column-2,
	.column-3,
	.column-4,
	.column-5,
	.column-6,
	.column-7,
	.column-8,
	.column-9,
	.column-10,
	.column-11,
	.column-12
	{
		width: 100%;
	}
  
}

@media screen and (max-width: 480px)
{

	.column-1,
	.column-2,
	.column-3,
	.column-4,
	.column-5,
	.column-6,
	.column-7,
	.column-8,
	.column-9,
	.column-10,
	.column-11,
	.column-12
	{
		width: 100%;
	}
	
}

